<h1>Stupid Coaching</h1>

<div class="box">
  <ul class="list">
    <li><%= params[:question] %> </li>
    <li class="person">-You</li>
  </ul>
</div>

<div class="box">
  <ul class="list">
    <li><%= @ans %> </li>
    <li class="person">-Your Coach</li>
  </ul>
</div>

